@media screen and (min-width: 768px) {
    body {
        font-family: 'Fira Sans', sans-serif;
        background-image: url(bulldog.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px;
    }
    .class {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .navbar > div {
        width: 50%;
    }
    .nav-button {
        width: auto !important;
    }
    .text1 {
        margin: 0;
        padding: 0;
    }
    .links {
        list-style: none;
    }
    .links > li {
        margin-left: 20px !important;
        vertical-align: middle !important;
        display: inline !important;
    }
    .links:hover  {
        color: #FF4850;
        text-decoration: none;
    }
    
    .main {
        width: 40%;
        padding-top: 10%;
    }
    .main > h1 {
        font-weight: 600;
    }
    .main > p {
        font-weight: 400;
    }
    .button {
        border-radius: 15px;
        padding: 10px;
        background-color: #FF4850;
        width: auto !important;
    } 
    .button:hover {
        background-color: #CCC;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
    }
}

body {
    background-color: #F0ECEE;
    font-family: 'Fira Sans', sans-serif;
}
.text1 {
    font-weight: 600;
}
.text1 > span > span {
    color: #FF4850;
}
.links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: contents;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.links > li > a {
    color: #88898B;
    text-decoration: none;
}
.links > li > a:hover {
    color:  #FF4850;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.nav-button {
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        background-color: #FF4850;
        color: white;
    } 
.nav-button:hover {
        background-color: #CCC;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
}
.button {
        border-radius: 5px;
        padding: 10px;
        background-color: #FF4850;
        width: 100%;
        color: white;
    }
.button:hover {
        background-color: #CCC;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
.main > h1 {
    font-weight: 600;
}
.main > p {
    font-weight: 400;
}

.main > h1 > span {
    color: #FF4850;
}